:host {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    width: 350px;
    height: 350px;
    border: 1px solid gray;
    grid-gap: 8px;
    justify-items: center;
    align-items: center;
}

.cell{
    border: 1px solid gray;
}
.visited{
    background-color: yellow;
}
.bom{
    background-color: red;
}
.empty {
    background-color: white;
}